# Required
WIFI_SSID="ssid"
#Required
WIFI_PASSWORD="password"
#Required
MQTT_BROKER="localhost"
#Optional, defaults to 1883
MQTT_PORT=1883
#Optional, defaults to "sonar"
MQTT_CLIENT_ID="sonar"
#Optional, defaults to "sonardata"
MQTT_TOPIC="sonardata"